
ErrorDocument 404 /include/errors/error_404.html

RewriteEngine on


RewriteRule ^backoffice/ /backoffice.php [L]
RewriteRule ^savemsg/ /include/ticketdraft.php [L]
RewriteRule ^logsing /process.php [L]
RewriteRule ^logout /process.php [L]
RewriteRule ^login/ /login.php [L]
RewriteRule ^dashboard/ /dashboard.php [L]
RewriteRule ^group/ /migrupo.php [L]
RewriteRule ^timetable/ /horarios.php [L]
RewriteRule ^wall/ /murot.php [L]
RewriteRule ^messages/ /tickets.php [L]
RewriteRule ^inbox/ /tickets.php?fg=bandeja [L]
RewriteRule ^outbox/ /tickets.php?fg=outmsg [L]
RewriteRule ^newticket/ /tickets.php?fg=newticket [L]
RewriteRule ^back/cierre/ /cierre.php [L]
RewriteRule ^profile /miperfil.php [L]
RewriteRule ^asigned /mygroup.php [L]
RewriteRule ^users/(.*) http://demedallo.com/users/$1 [L]
RewriteRule ^calendars/(\w+)/?$ /perfil.php?user=$1&act=calendars [L]
RewriteRule ^calendar/(.*)/(.*)/ /calendar.php?user=$1&date=$2 [L]
RewriteRule ^admins/ /panel.php?fg=admin [L]
RewriteRule ^master/ /panel.php?fg=master [L]
RewriteRule ^boss/ /panel.php?fg=boss [L]
RewriteRule ^reactivate/(.*) /reactive.php?id=$1 [L]
RewriteRule ^turnos/new/ /turnos.php [L]
RewriteRule ^turnos/mod/ /modturn.php [L]
RewriteRule ^modturns/confirm/ /modturns.php [L]
RewriteRule ^view/turns/confirm/ /vturns.php [L]
RewriteRule ^view/turns/(.*)/(.*)/(.*)/ /viewturns.php?user=$1&date=$2&id=$3 [L]
RewriteRule ^message/view/(.*) /tickets.php?fg=view&message=$1 [L]
RewriteRule ^job/ /panel.php?fg=view&act=job [L]
RewriteRule ^jobs/ /asigindv.php [L]
RewriteRule ^export/backoffice/ /exportback.php [L]
RewriteRule ^templates/(.*) /include/templates/$1 [L]
RewriteRule ^user/new/ /newuser.php [L]
RewriteRule ^widgets/ /widgets.php [L]
RewriteRule ^delete/widgets/(.*)/(.*) /delwidgets.php?fg=$1&id=$2 [L]
RewriteRule ^delete/users/(.*)/ /include/delusers.php?userid=$1 [L]
RewriteRule ^user/alls/ /listusers.php [L]
RewriteRule ^clearbackoffice/ /clearbd.php [L]
RewriteRule ^import/backoffice/ /importbd.php [L]